/* Corpo pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #c6a9cd;
}

/* Header */
header {
    background-color: pink;
    padding: 20px;
    text-align: center;
}

/* Navbar */
navbar {
    background-color: lightcoral;
    padding: 10px;
    text-align: left;
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;

}

.navbar li a {
    text-decoration: none;
    color: var(--dark-text);
    font-size: 0.95rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    position: relative;
    padding: 0.5rem 0;
    transition: color 0.3s ease;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}


main {
    margin-top: 20px;
}

/* Card generiche */
.card {
    text-align: center;
    background-color: rgb(193, 178, 195);
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid lightcoral;
}

.logo-i {
    width: 100px;
    height: 100px;
}

.slide-prodotti img {
    width: 350px;
    height: 350px;
}


/* Titoli */
div h1 {
    margin-bottom: 10px;
    color: darksalmon;
}


/* Footer */
footer {
    background-color: pink;
    padding: 15px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blueviolet;
}

.card_promo:hover {
    transition: transform 0.5s;
    transform: scale(1.5);
}